<div class="container my-3 mx-auto">
  <h1 class="text-center fw-bold">Active Blockages Damage</h1>
    <div class="cards my-5 ">
    <% @damage_blockages.each do  |blockage|%>
        <div class="card shadow p-3 m-1 bg-body-tertiary rounded" style="width: 25rem; height: 15rem">
          <div class="card-header">
            <strong>Tool Alias:</strong> <%= blockage.tool.alias %>
            <strong>Tool SAP:</strong> <%= blockage.tool.sap %>
          </div>
          <div class="card-body overflow-auto">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <strong>Cavity:</strong> <%= blockage.cavity.num %>
                  <br>
                  <span style="font-size: x-small;">Created_by:<%= blockage.created_by %></span>
                </li>
            </ul>
          </div>
          <div class="card-footer">
          <% if blockage.tool.damage_reports.any?{|report| report.status == "open"} %>
           link to update
          <% else %>
            link to create report
          <% end %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
</div>
