<div class="container my-3 mx-auto">
    <h1 class="text-center fw-bold">Active Blockages Damage</h1>
    <div class="cards my-5 ">
    <% @tools_damaged.each do  |tool|%>
      <div class="card shadow p-3 m-1 bg-body-tertiary rounded">
        <div class="card-header">
          <strong>Tool Alias:</strong> <%= tool.alias %>
          <strong>Tool SAP:</strong> <%= tool.sap %>
        </div>
        <div class="card-body overflow-auto">
          <ul class="list-group list-group-flush">
            <% tool.blockages.where(reason: "damaged", status:"open").each do |blockage| %>
              <li class="list-group-item">
                <strong>Cavity:</strong> <%= blockage.cavity.num %>
                <br>
                <span style="font-size: x-small;">Created_by:<%= blockage.created_by %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
    </div>
</div>
