<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dobx4bc8e/image/upload/v1683587953/bannerFreudenhub_1_fuw2x7.png);">
  <div class="container">
    <h1>Freudenhub 2.0</h1>
  </div>
</div>
