<div class="container my-5">
  <div class="cards">
    <% 4.times do %>
      <div class="card-home">
        <img src="https://res.cloudinary.com/dp693fkkc/image/upload/v1671996576/Freudenhub/Cuautla_ed6p62.jpg" />
        <div class="card-home-infos">
          <div>
            <h2>Cuautla</h2>
            <p>LV: ---- % </p>
            <p>MV: ---- % </p>
            <p>HV: ---- % </p>
          </div>
          <h2 class="card-home-pricing">General: ----%</h2>
          <img src="https://res.cloudinary.com/dp693fkkc/image/upload/v1671998090/Freudenhub/mexico_qk1kzc.png" class="card-home-user avatar-bordered" />
        </div>
      </div>
    <% end %>
  </div>
</div>
