<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dp693fkkc/image/upload/v1671996576/Freudenhub/Cuautla_ed6p62.jpg);">
  <div class="container">
    <h1>Freudenhub 2.0</h1>
  </div>
</div>
