.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link{
  // color: #042e58 !important;
  font-weight: bold;
}

.active{
  text-decoration: underline;
  background-color: #b4b4b4;
  padding: 14px;
}



// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
