.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.nav-link{
  color: #ffffff !important;
  font-weight: bold;
}



// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }
